extends template
block layout-content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                br
                h3 Pico y placa predictor
                form(method= "POST" action= "/check-status")
                    .form-group
                        label(for="licenseNumber") License plate number: 
                        input#licenseNumber.form-control(type="text", placeholder= "Ex: POQ-9898" ,name="licenseNumber" ,required)
                    .form-group
                        label(for="date") Choose a date:
                        input#date.form-control(type="date", name="date", required) 
                    .form-group
                        label(for="hour") Insert an hour of the day:
                        input#hour.form-control(type="time", name="hour", required)
                    button.btn.btn-primary(type="submit") Predict
                br 
                br    
                if enable   
                    div(style="background-color: lightblue; text-align: center")
                        if result
                            .form-group
                                h4 You can road your car!
                        else
                            .form-group
                                h4 You can't road your car !